* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-inner {
    .carousel-item {
        img {
            object-fit: cover;
            object-position: center;
            height: 80vh;
            overflow: hidden;
        }

        .carousel-caption {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}


// Make header transparent and overlay on carousel?


